# Ignore all files by default to keep source code private
*

# Allow repository root compiled executables, README, logo, icon, license
!.gitignore
!README.md
!motion_logo.png
!app.ico
!LICENSE
!AstriaMotion-Installer.exe
!AstriaMotion-Portable.exe
